## 舊作業

### 題目: 讀取資料夾中boston.csv讀取其欄位CHAS、NOX、RM，輸出成.xlsx檔案

In [1]:
import pandas as pd

In [ ]:
boston_data= pd.read_csv('boston.csv', usecols = ['CHAS', 'NOX', 'RM'])
boston_data

In [7]:
boston_data.to_excel('hw_boston.xlsx')

## 新作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [7]:
import pandas as pd
df = pd.DataFrame([[30,21]], columns = ["Apples", "Bananas"])
df

   Apples  Bananas
0      30       21

In [8]:
df1 = pd.DataFrame([[35,21],[41, 34]], index = ['2017 Sales', '2018 Sales'], columns = ["Apples", "Bananas"])
df1

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [10]:
df2 = pd.DataFrame([['Asutin', 139, 'Sun'],['Dallas', 237, 'Sun'],
                    ['Asutin', 326, 'Mon'],['Dallas', 456, 'Mon']],
                   columns = ['city',  'visitor', 'weekday'])
df2

     city  visitor weekday
0  Asutin      139     Sun
1  Dallas      237     Sun
2  Asutin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [26]:
print("Sun: ", df2[df2['weekday'] == 'Sun']['visitor'].mean())
print("Mon: ", df2[df2['weekday'] == 'Mon']['visitor'].mean())

Sun:  188.0
Mon:  391.0