## 舊作業

In [1]:
import numpy as np

In [2]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

### 1. 將上列list依照['name', 'sex', 'weight', 'rank', 'myopia']順序擺入array，並且資料型態順序擺入[Unicode,Unicode,float,int,boolean]

In [78]:
# 要會先創立空集合，再將資料塞入的技巧

# 以下方法也可行 但是 key 一定要為 names 與 formats
# student_type = {'names':('name', 'sex', 'weight', 'rank', 'myopia'), 'formats':('U8', 'U8', 'f8', 'i8', '?')}
student_type = np.dtype({'names':('name', 'sex', 'weight', 'rank', 'myopia'), 'formats':('U8', 'U8', 'f8', 'i8', '?')})
data = np.zeros(8, dtype = student_type)
data['name'] = name_list
data['sex'] = sex_list
data['weight'] = weight_list
data['rank'] = rank_list
data['myopia'] = myopia_list
data

array([('小明', 'boy', 67.5, 8,  True), ('小華', 'boy', 75.3, 1,  True),
       ('小菁', 'girl', 50.1, 5, False), ('小美', 'girl', 45.5, 4, False),
       ('小張', 'boy', 80.8, 7,  True), ('John', 'boy', 90.4, 6,  True),
       ('Mark', 'boy', 78.4, 2, False), ('Tom', 'boy', 70.7, 3, False)],
      dtype=[('name', '<U8'), ('sex', '<U8'), ('weight', '<f8'), ('rank', '<i8'), ('myopia', '?')])

### 2. 呈上題，將array中體重(weight)數據集取出算出全部平均體重

In [81]:
np.mean(data['weight'])

69.8375

### 3. 呈上題，進一步算出男生(sex欄位是boy)、女生(sex欄位是girl)平均體重

In [93]:
# 男生
np.mean(data[data['sex'] == 'boy']['weight']).round(2)

77.18

In [94]:
# 女生
np.mean(data[data['sex'] == 'girl']['weight']).round(2)

47.8

## 新作業

### 1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

Pandas 主要適用於資料分析的一個函式庫
- 提供了快速高效的 DataFrame 結構（底層使用 Cython 或 C 的實作對效能進行高度優化）
- 廣泛地在學術界與商業領域中使用，包括金融，神經科學，經濟學，統計學，廣告，Web分析等。
- 對於資料格式有高度的銜接性，包含 CSV、Excel 或資料庫（SQL）皆能提供彈性的讀寫工具

### 2. 根據提供的資料集，印出他們的屬性分別為何？

In [2]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
type(df)

pandas.core.frame.DataFrame